In [33]:
import pandas
import numpy as np

In [5]:
symbols = pandas.read_csv('symbols.csv').drop(['Unnamed: 0'], axis=1)
token = pandas.read_csv('token_price.csv')

In [6]:
token

,Symbol,base,quote,Kline open time,Open price,High price,Low price,Close price,Volume,Kline Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,"Unused field, ignore"
0,BTCUSDT,BTC,USDT,1669395600000,16485.140000,16512.430000,16474.290000,16483.270000,3369.76766,1669397399999,5.557611e+07,81870,1723.18461,2.842171e+07,0
1,BTCUSDT,BTC,USDT,1669397400000,16483.270000,16536.350000,16482.980000,16510.380000,3892.49531,1669399199999,6.427000e+07,91509,2058.71422,3.399223e+07,0
2,BTCUSDT,BTC,USDT,1669399200000,16509.520000,16528.600000,16502.770000,16509.400000,2466.67932,1669400999999,4.073370e+07,61263,1246.75916,2.058911e+07,0
3,BTCUSDT,BTC,USDT,1669401000000,16508.950000,16518.590000,16477.130000,16495.430000,2500.32611,1669402799999,4.126059e+07,59827,1169.95110,1.930727e+07,0
4,BTCUSDT,BTC,USDT,1669402800000,16495.430000,16553.880000,16494.010000,16515.200000,2949.47675,1669404599999,4.872746e+07,66479,1564.85203,2.585432e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578311,BUSDRON,RON,BUSD,1670943600000,0.216029,0.215983,0.216450,0.216403,27672.33700,1670945399999,5.984000e+03,108,9651.16000,2.086000e+03,0
578312,BUSDRON,RON,BUSD,1670945400000,0.216450,0.215936,0.216450,0.215983,16734.98200,1670947199999,3.618000e+03,42,7593.48200,1.642000e+03,0
578313,BUSDRON,RON,BUSD,1670947200000,0.215936,0.215936,0.215983,0.215936,15069.01800,1670948999999,3.254000e+03,33,13883.73800,2.998000e+03,0
578314,BUSDRON,RON,BUSD,1670949000000,0.215983,0.215936,0.215983,0.215936,66749.02700,1670950799999,1.441500e+04,92,35089.08700,7.577000e+03,0
578315,BUSDRON,RON,BUSD,1670950800000,0.215936,0.215936,0.215983,0.215936,17943.04500,1670952599999,3.875000e+03,52,8312.64500,1.795000e+03,0

In [10]:
data = token[token['Symbol'] == 'BTCUSDT'].set_index('Kline open time').sort_index()

In [25]:
price = data[['High price','Low price']] #High price và low price giá tương quan trên toàn phiên giao dịch
price

                 High price  Low price
Kline open time
1669395600000      16512.43   16474.29
1669397400000      16536.35   16482.98
1669399200000      16528.60   16502.77
1669401000000      16518.59   16477.13
1669402800000      16553.88   16494.01
...                     ...        ...
1670943600000      17887.41   17735.73
1670945400000      17795.94   17731.00
1670947200000      17819.84   17752.78
1670949000000      17840.00   17722.09
1670950800000      17792.55   17690.85

[865 rows x 2 columns]

In [28]:
up_down = price[1:].reset_index() - price[:-1].reset_index()
up_down

     Kline open time  High price  Low price
0            1800000       23.92       8.69
1            1800000       -7.75      19.79
2            1800000      -10.01     -25.64
3            1800000       35.29      16.88
4            1800000      -12.22      20.23
..               ...         ...        ...
859          1800000      -38.47     -96.43
860          1800000      -91.47      -4.73
861          1800000       23.90      21.78
862          1800000       20.16     -30.69
863          1800000      -47.45     -31.24

[864 rows x 3 columns]

In [35]:
change_period_high = [1]
if (up_down['High price'][0] > 0):
    current = 1
else:
    current = -1
for i in up_down['High price'][1:]:
    if (i * current > 0):
        change_period_high[-1] += 1
    else: 
        change_period_high += [1]

In [36]:
np.mean(change_period_high)

1.8741865509761388

In [37]:
change_period_low = [1]
if (up_down['Low price'][0] > 0):
    current = 1
else:
    current = -1
for i in up_down['Low price'][1:]:
    if (i * current > 0):
        change_period_low[-1] += 1
    else: 
        change_period_low += [1]

In [38]:
np.mean(change_period_low)

2.2917771883289126

=> Với chu kỳ get data 30p, thì thời gian tăng sẽ theo chu kỳ trung bình 50p 1 lần còn thời gian giảm sẽ theo chu kỳ trung bình 70p 1 lần. Có sự chênh lệch khá lớn giữa thời gian tăng và thời gian giảm